
  ul {
    margin: 0;
    padding: 0;
  }
  

  ul li {
    position: relative;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    background: floralwhite;
    font-size: 20px;
  }
  





  

  .header:after {
    content: "";
    display: table;
    clear: both;
  }
  

  input {
    background-color: aqua;
    margin: 0;
    border: none;
    border-radius: 0;
    width: 50%;
    padding: 10px;
    float: left;
    font-size: 20px;
  }
  

  .addBtn {
    padding: 10px;
    width: 10%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
  }

  .addBtn:hover {
    background-color: blueviolet;
  }